<% include model/header %>
<div>
    <h3 style="text-align: center">Register</h3>

    <% if(error && error.length > 0) { %>
        <p><%= error[0] %></p>
    <% } %>

    <form action="/register" method="post">
        <div>
            <label>DisplayName:</label>
            <input type="text" name="display_name"/>
        </div>
        <div>
            <label>Use Username, Email or Phone for login</label>
        </div>
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Email:</label>
            <input type="text" name="email"/>
        </div>
        <div>
            <label>Phone:</label>
            <input type="text" name="phone"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Register"/>
        </div>
    </form>
</div>
<% include model/footer %>