<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatApp</title>
</head>
<body style="margin: 0; padding: 0; background: beige">
<header style="margin: 0; padding: 0; background: aqua">
    <h3 style="text-align: center">Header</h3>
    <a href="/login" style="margin-left: auto; margin-right: 0;">Login</a>
    <a href="/register" style="margin-left: auto; margin-right: 0;">Register</a>
</header>